<div class="container">
    <img src="/assets/cover.png" alt="" class="responsive-img">
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fa-brands fa-google left"></i>Log In with Google</a>
</div>