<h3>Add Product</h3>
<div class="row">
    <form action="/products" method="POST" class="col s12">

        <div class="row">
            <div class="input-field">
                <select id="status" name="product">
                    {{#each products}}
                    <option value="{{productName}}">{{productName}}</option>
                    {{/each}}
                </select>
                <label for="product">Product Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="productName" name="productName">
                <label for="productName">Product Name</label>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <input type="number" id="price" name="price">
                <label for="price">Price</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="pluNumber" name="pluNumber">
                <label for="pluNumber">PLU No.</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>