<h3>Add Product</h3>
<div class="row">
    <form action="/products" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="productName" name="productName">
                <label for="productName">Product Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="isLiquid" onchange="toggleFields()">
                    <option value='false' selected>No</option>
                    <option value='true'>Yes</option>
                </select>
                <label for="isLiquid">Liquid?</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field" id="priceField">
                <input type="number" id="price" name="price">
                <label for="price">Price</label>
            </div>
        </div>

        <div class="row" id="priceOptions" style="display: none;">
            <div class="input-field">
                <input type="number" id="pricePerQuart" name="pricePerQuart">
                <label for="pricePerQuart">Price per Quart</label>
            </div>
            <div class="input-field">
                <input type="number" id="pricePerPint" name="pricePerPint">
                <label for="pricePerPint">Price per Pint</label>
            </div>
        </div>

        <div class="row" id="plu">
            <div class="input-field">
                <input type="text" id="plu" name="plu">
                <label for="plu">PLU No.</label>
            </div>
        </div>

        <div class="row" id="pluNumbers" style="display: none;">
            <div class="input-field">
                <input type="text" id="pluNumberPerQuart" name="pluNumberPerQuart">
                <label for="pluNumberPerQuart">Main PLU No. (Quart)</label>
            </div>
            <div class="input-field">
                <input type="text" id="pluNumberPerPint" name="pluNumberPerPint">
                <label for="pluNumberPerPint">Secondary PLU No. (Per Pint)</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>

<script>
    function toggleFields() {
        const isLiquid = document.getElementById('status').value === 'true';
        const priceField = document.getElementById('priceField');
        const priceOptions = document.getElementById('priceOptions');
        const pluNumbers = document.getElementById('pluNumbers');
        const plu = document.getElementById('plu')

        if (isLiquid) {
            priceField.style.display = 'none';
            plu.style.display = 'none'
            priceOptions.style.display = 'block';
            pluNumbers.style.display = 'block';
        } else {
            priceField.style.display = 'block';
            plu.style.display = 'block'
            priceOptions.style.display = 'none';
            pluNumbers.style.display = 'none';
        }
    }
</script>

